.image-item {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.featured {
  grid-column: span 2;
  grid-row: span 2;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; 
  opacity: 0;
  transition: opacity 0.3s;
}
.image-item:hover .image-overlay {
  opacity: 1;
}

.input-checkbox {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  cursor: pointer;
}

.active-checkbox {
  /* Styles for the active checkbox */
  background-color: #007bff; /* Change to the color you want */
  border: 1px solid #007bff; /* Match the background color */
  color: #fff; /* Text color when active */
}

/* Activate the overlay color when the checkbox is checked */
.image-overlay.selected {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

/* Apply hover effect for all images */
.image-item:hover .image-overlay {
  opacity: 1;
}
